{% extends 'base.html' %}
{% block body %}

<div class = "container my-5">
  <h3 class = "text-center page-title mb-3">Resources</h3>
  <p>It is critical that people, whether housed or not, are aware of the issue of homelessness. Here is a summary of volunteering opportunities, donation information, and the latest news, bills, propositions, and petitions:
</p>
  
  <!-- BEGIN: volunteering opportunities -->
  <div class = "row mt-5">
    <div class = "col-md-5 text-center">
      <div class = "resource-circle pt-5" id = "resource-circle-volunteering-opportunities">
        <a href= "https://www.bayarearescue.org/get-involved/volunteer/" class = "btn btn-resource mb-5">Bay Area Rescue</a>
        <br>
        <a href= "https://nationalhomeless.org/taking-action/volunteer/ " class = "btn btn-resource mb-5">National Coalition for the Homeless</a>
        <br>
        <a href= "https://www.projecthomelessconnect.org/volunteer/ " class = "btn btn-resource mb-5">Project Homeless Connect</a>
      </div>
    </div>
    <div class = "col-md-7">
      <h5>Volunteering Opportunities</h5>
      <p>Help out local unhoused people by volunteering at nearby organizations! You can also search for nearby places on our "Search" page.</p>
    </div>
  </div>
  <!-- END: volunteering opportunities -->


  <!-- BEGIN: donation information -->
  <div class = "row mt-5">
    <div class = "col-md-7">
      <h5>Donation Information</h5>
      <p>If you aren't able to actively volunteer, please consider donating as much as possible to organizations who can make a difference. All of the given donation centers make the most of the money given to them to help out all the unhoused around us!</p>
    </div>
    <div class = "col-md-5 text-center">
      <div class = "resource-circle pt-5" id = "resource-circle-donation-information">
        <a href= "https://www.homeless-healthcare.org/ " class = "btn btn-resource mb-5">Healthcare for Homeless</a>
        <br>
        <a href= "https://www.selahnhc.org/ " class = "btn btn-resource mb-5">Selah Neighborhood Homeless Coalition</a>
        <br>
        <a href= "https://endhomelessness.org/" class = "btn btn-resource mb-5">National Alliance to End Homelessness</a>
      </div>
    </div>
  </div>
  <!-- END: donation information -->

    <!-- BEGIN: bills and propositions -->
  <div class = "row mt-5">
    <div class = "col-md-5 text-center">
      <div class = "resource-circle pt-5" id = "resource-circle-bills-and-props">
        <a href= "https://ballotpedia.org/Alameda_County,_California,_Measure_W,_Sales_Tax_(November_2020) " class = "btn btn-resource mb-5">Alameda County, California, Measure W, Sales Tax (2020)</a>
        <br>
        <a href= "https://ballotpedia.org/California_Proposition_2,_Use_Millionaire%27s_Tax_Revenue_for_Homelessness_Prevention_Housing_Bonds_Measure_(2018) " class = "btn btn-resource mb-5">California Proposition 2, the Use Millionaire's Tax Revenue for Homelessness Prevention Housing Bonds Measure (2018)</a>
        <br>
        <a href= "https://ballotpedia.org/California_Proposition_41,_Veterans_Housing_and_Homeless_Prevention_Bond_(June_2014)" class = "btn btn-resource mb-5">California Proposition 41, Veterans Housing and Homeless Prevention Bond (2014)</a>
      </div>
    </div>
    <div class = "col-md-7">
      <h5>Bills and Propositions</h5>
      <p>Check out the latest that our politicians in California have been doing to help out the unhoused!</p>
    </div>
  </div>
  <!-- END: bills and propositions -->


  <!-- BEGIN: news -->
  <div class = "row mt-5">
    <div class = "col-md-7">
      <h5>News</h5>
      <p>Read about the latest stories that involve the unhoused. Find out more about the lastest protests, police action, and other news.</p>
    </div>
    <div class = "col-md-5 text-center">
      <div class = "resource-circle pt-5" id = "resource-circle-news">
        <a href= "https://www.mercurynews.com/2022/10/27/berkeley-opens-largest-affordable-housing-development-in-city-history/ " class = "btn btn-resource mb-5">Berkeley Opens Largest Affordable Housing Development In City History (2022)</a>
        <br>
        <a href= "https://www.mercurynews.com/2022/10/18/where-are-they-supposed-to-go-protesters-pitch-tents-outside-oakland-city-hall/ " class = "btn btn-resource mb-5">“Where Are They Supposed To Go?” Protesters Pitch Tents Outside Oakland City Hall (2022)</a>
        <br>
        <a href= "https://www.mercurynews.com/2022/10/07/california-homeless-population-grew-by-22000-over-pandemic/ 
" class = "btn btn-resource mb-5">California Homeless Population Grew by 22000 Over Pandemic (2022)</a>
      </div>
    </div>
  </div>
  <!-- END: news -->

  <!-- BEGIN: petitions -->
  <div class = "row mt-5">
    <div class = "col-md-5 text-center">
      <div class = "resource-circle pt-5" id = "resource-circle-petitions">
        <a href= "https://unitedtoendhomelessness.org/petition/ " class = "btn btn-resource mb-5">United to End Homelessness</a>
        <br>
        <a href= "https://actionnetwork.org/petitions/sign-the-petition-homeless-people-need-stable-housing-and-resources-not-federal-camps?nowrapper=true&referrer=&source= " class = "btn btn-resource mb-5">Action Network: Homeless people need stable housing and resources, not federal camps</a>
        <br>
        <a href= "https://mahanforsanjose.com/fair-share-on-homelessness/ " class = "btn btn-resource mb-5">Fair Share Plan</a>
      </div>
    </div>
    <div class = "col-md-7">
      <h5>Petitions</h5>
      <p> Sign all the right forms to help our unhoused community. By simply putting your name on these forms, you make a change that could impact many millions of people who direly need it.</p>
    </div>
  </div>
  <!-- END: volunteering opportunities -->

  
</div>

{% endblock %}